/* FormularioConCollapse.css */

/* Contenedor principal del formulario */
.formulario-container {
    margin: 20px auto;
    width: 100%;
    max-width: 800px; /* Aumenta este valor si deseas que el formulario sea más ancho */
  }
  
  /* Estilo para el grupo de formularios */
  .formulario-container .form-group {
    margin-bottom: 1.5rem;
  }
  
  /* Estilo para el botón de 'Tienes datos adicionales' */
  .formulario-container .btn-outline-primary {
    margin-bottom: 1rem;
  }
  
  /* Estilo para la tarjeta de datos adicionales */
  .formulario-container .card {
    margin-top: 1rem;
  }
  
  /* Estilo para el botón 'Enviar' para que siempre esté debajo */
  .formulario-container .btn-success {
    display: block; /* Asegura que esté en una nueva línea */
    margin-top: 1.5rem;
    width: auto; /* Cambiar de 100% a 'auto' para que el ancho sea ajustado al contenido */
    margin-left: auto; /* Centra el botón */
    margin-right: auto; /* Centra el botón */
  }
  